<config>
    <battery />
    <cpu intervalMillis="2000" sampleMillis="1000"/>
    <crash crashProvider="cn.hikyson.godeye.core.internal.modules.crash.CrashFileProvider"/>
    <fps intervalMillis="2000"/>
    <heap intervalMillis="2000"/>
    <leakMemory debug="true" debugNotification="true" leakRefInfoProvider="cn.hikyson.godeye.core.internal.modules.leakdetector.DefaultLeakRefInfoProvider"/>
    <pageload pageInfoProvider="cn.hikyson.godeye.core.internal.modules.pageload.DefaultPageInfoProvider"/>
    <pss intervalMillis="2000"/>
    <ram intervalMillis="2000"/>
    <sm debugNotify="true"
        dumpIntervalMillis="500"
        longBlockThresholdMillis="300"
        shortBlockThresholdMillis="100"/>
    <thread intervalMillis="3000"
            threadFilter="cn.hikyson.godeye.core.internal.modules.thread.SimpleThreadFilter"/>
    <traffic intervalMillis="2000" sampleMillis="1000"/>
    <methodCanary maxMethodCountSingleThreadByCost="300" lowCostMethodThresholdMillis="10"/>
</config>