.ramtotal {
    float: left;
    height: 36px;
    width: 200px;
    background: #999999;
    position: relative;
}

.ramtotal .ram_allocated {
    float: left;
    height: 36px;
    background: #35AA53;
    display: block;
    position: absolute;
}

.ramtotal .ram_allocated_text {
    float: left;
    color: #35AA53;
    position: absolute;
    font-size: 15px;
    top: 45px;
    left: 20%;
}

.redcircle {
    width: 10px;
    height: 10px;
    background-color: #EB4334;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.greencircle {
    width: 10px;
    height: 10px;
    background-color: #35AA53;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
