.psstotal {
    /*!*float: top;*!*/
    width: 45px;
    height: 200px;
    background: #999999;
    position: relative;
}

.psstotal .pss_dalvik {
    /*float: top;*/
    width: 45px;
    background: #35AA53;
    display: block;
    position: absolute;
}

.psstotal .pss_dalvik_text {
    /*float: top;*/
    color: #35AA53;
    position: absolute;
    font-size: 15px;
    top: 10%;
    left: 60px;
}

.psstotal .pss_native {
    /*float: top;*/
    width: 45px;
    background: #FBBD06;
    display: block;
    position: absolute;
}

.psstotal .pss_native_text {
    /*float: top;*/
    color: #FBBD06;
    position: absolute;
    font-size: 15px;
    top: 35%;
    left: 60px;
}

.psstotal .pss_other {
    /*float: top;*/
    width: 45px;
    background: #4586F3;
    display: block;
    position: absolute;
}

.psstotal .pss_other_text {
    /*float: top;*/
    color: #4586F3;
    position: absolute;
    font-size: 15px;
    top: 55%;
    left: 60px;
}

.psstotal .pss_unknown {
    /*float: top;*/
    width: 45px;
    background: #EB4334;
    display: block;
    position: absolute;
}

.psstotal .pss_unknown_text {
    /*float: top;*/
    color: #EB4334;
    position: absolute;
    font-size: 15px;
    top: 80%;
    left: 60px;
}
