.psstotal {
    float: top;
    width: 36px;
    height: 200px;
    display: inline-block;
    background: #999999;
    position: absolute;
    top: 0px;
}

.psstotal .pss_dalvik {
    float: top;
    width: 36px;
    background: #73BF00;
    position: absolute;
}

.psstotal .pss_dalvik_text {
    float: top;
    color: #73BF00;
    position: absolute;
    font-size: 15px;
    top: 0%;
    left: 45px;
}

.psstotal .pss_native {
    float: top;
    width: 36px;
    background: #4F9D9D;
    display: block;
    position: absolute;
}

.psstotal .pss_native_text {
    float: top;
    color: #4F9D9D;
    position: absolute;
    font-size: 15px;
    top: 20%;
    left: 45px;
}

.psstotal .pss_other {
    float: top;
    width: 36px;
    background: #D26900;
    display: block;
    position: absolute;
}

.psstotal .pss_other_text {
    float: top;
    color: #D26900;
    position: absolute;
    font-size: 15px;
    top: 40%;
    left: 45px;
}

.psstotal .pss_unknown {
    float: top;
    width: 36px;
    background: #7373B9;
    display: block;
    position: absolute;
}

.psstotal .pss_unknown_text {
    float: top;
    color: #7373B9;
    position: absolute;
    font-size: 15px;
    top: 60%;
    left: 45px;
}
