<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hikyson.godeye.core">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <provider
            android:name=".GodEyeInitContentProvider"
            android:authorities="${applicationId}.cn.hikyson.godeye.core.init"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="true">
        </provider>

        <receiver
            android:name=".internal.modules.leakdetector.debug.LeakOutputReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ctrip.ibu.leakcanary.output.start" />
                <action android:name="com.ctrip.ibu.leakcanary.output.progress" />
                <action android:name="com.ctrip.ibu.leakcanary.output.retry" />
                <action android:name="com.ctrip.ibu.leakcanary.output.done" />
            </intent-filter>
        </receiver>

        <service
            android:name=".internal.notification.LocalNotificationListenerService"
            android:enabled="true"
            android:exported="false"
            android:process=":android_god_eye">
        </service>

        <service
            android:name=".internal.modules.leakdetector.debug.DebugHeapAnalyzerService"
            android:enabled="false"
            android:process=":leakcanary" />
    </application>

</manifest>