<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.hikyson.godeye.core">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
        <receiver
            android:name=".internal.modules.leakdetector.LeakOutputReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ctrip.ibu.leakcanary.output.start"/>
                <action android:name="com.ctrip.ibu.leakcanary.output.progress"/>
                <action android:name="com.ctrip.ibu.leakcanary.output.retry"/>
                <action android:name="com.ctrip.ibu.leakcanary.output.done"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".internal.modules.leakdetector.canary.android.internal.HeapAnalyzerService"
            android:enabled="false"
            android:process=":leakcanary"
            />
        <service
            android:name=".internal.modules.leakdetector.canary.android.DisplayLeakService"
            android:enabled="false"
            android:process=":leakcanary"
            />
        <service
            android:name=".internal.modules.leakdetector.canary.android.output.OutputLeakService"
            android:enabled="false"
            android:process=":leakcanary"/>

        <!--<activity-->
            <!--android:name=".internal.modules.leakdetector.canary.android.internal.DisplayLeakActivity"-->
            <!--android:enabled="false"-->
            <!--android:icon="@drawable/leak_canary_icon"-->
            <!--android:label="@string/leak_canary_display_activity_label"-->
            <!--android:process=":leakcanary"-->
            <!--android:taskAffinity="com.squareup.leakcanary.${applicationId}"-->
            <!--android:theme="@style/leak_canary_LeakCanary.Base">-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".internal.modules.leakdetector.canary.android.internal.RequestStoragePermissionActivity"-->
            <!--android:enabled="false"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:icon="@drawable/leak_canary_icon"-->
            <!--android:label="@string/leak_canary_storage_permission_activity_label"-->
            <!--android:process=":leakcanary"-->
            <!--android:taskAffinity="com.squareup.leakcanary.${applicationId}"-->
            <!--android:theme="@style/leak_canary_Theme.Transparent"/>-->


    </application>
</manifest>
