td.details-control {
    background: url('../assets/arrow_down.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../assets/arrow_up.png') no-repeat center center;
}
